<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Product definition -->
    <Product 
        Id="*" 
        Name="Captura" 
        Language="1033" 
        Version="1.0.0.0" 
        Manufacturer="MaFeLP" 
        UpgradeCode="07e578fd-e8b9-4feb-9422-0840eabb6ae7">

        <!-- Package metadata -->
        <Package 
            InstallerVersion="200" 
            Compressed="yes" 
            InstallScope="perMachine" 
            Description="Captura LaTeX Templates"
            Manufacturer="MaFeLP"/>

        <!-- Define the directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="ProgramFiles">
                <Directory Id="INSTALLLOCATION" Name="Captura">
                    <!-- Main executable -->
                    <Component Id="MainExecutable" Guid="02e72bda-0e76-4d35-bdc4-eab189c0f8cd">
                        <File
                            Id="CaptraExe" 
                            Name="captura.exe" 
                            Source="captura.exe" 
                            Vital="yes" 
                            KeyPath="yes"/>
                    </Component>

                    <!-- Internal libraries folder -->
                    <Directory Id="INTERNALLIBFOLDER" Name="_internal">
                        <Component Id="InternalLibs" Guid="1c485a54-8cf6-4572-9bb5-283006609f55">
                            <CreateFolder/>
                            <CopyFile 
                                Id="CopyInternalLibs" 
                                DestinationDirectory="INTERNALLIBFOLDER" 
                                SourceDirectory="_internal"/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <!-- Start Menu Shortcut -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Captura">
                    <Component Id="ApplicationShortcuts" Guid="07a51708-eaee-496e-a583-ddd31918f10d">
                        <Shortcut 
                            Id="ApplicationStartMenuShortcut"
                            Name="Captura"
                            Description="Screen Capture Application"
                            Target="[INSTALLLOCATION]captura.exe"
                            WorkingDirectory="INSTALLLOCATION"/>
                        <RemoveFolder 
                            Id="ApplicationProgramsFolder" 
                            On="uninstall"/>
                        <RegistryValue 
                            Root="HKCU" 
                            Key="Software\Captura" 
                            Name="installed" 
                            Type="integer" 
                            Value="1" 
                            KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <!-- Feature definition -->
        <Feature Id="DefaultFeature" Title="Captura" Level="1">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="InternalLibs"/>
            <ComponentRef Id="ApplicationShortcuts"/>
        </Feature>

        <!-- UI References
        <UIRef Id="WixUI_InstallDir"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />-->

        <!-- Upgrade and remove previous versions handling -->
        <MajorUpgrade 
            DowngradeErrorMessage="A newer version of Captura is already installed."/>
    </Product>
</Wix>

