jinja2==3.1.5 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
pyqt6-qt6==6.8.2 ; python_version >= "3.11" and python_version < "4.0"
pyqt6-sip==13.10.0 ; python_version >= "3.11" and python_version < "4.0"
pyqt6==6.8.1 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
